@import url('https://fonts.googleapis.com/css2?family=Caveat&family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:wght@400;700&display=swap');

html {
  color: #fff;
  font: 24px 'PT Sans', sans-serif;
}

body {
  background-color: #000;
}

* {
  box-sizing: border-box;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem auto;
  position: relative;
  max-width: 500px;
}

/********** Landing Page **********/

h1 {
  font: 48px 'Caveat', cursive;
  line-height: 100px;
  min-height: 100px;
}

#magnetIcon {
  height: 50px;
  margin: 0 8px;
  padding: 0;
  vertical-align: center;
  width: 50px;
  vertical-align: text-bottom;
}

label {
  font: 32px 'PT Sans Narrow', sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: 10px;
  height: 35px;
  padding: 5px;
  max-width: 90%;
  min-width: 200px;
}

.loginForm {
  margin: 0 auto;
  max-width: 90%;
  min-width: fit-content;
}

.field {
  display: block;
  margin: 20px 0;
  text-align: right;
}

button {
  border-radius: 10px;
  font: 28px 'PT Sans Narrow', sans-serif;
  height: 40px;
}

.loginButton,
.updateStatusButton {
  background-color: #d4fac7;
  cursor: pointer;
  margin: 20px auto 10px;
  min-width: 150px;
}

/********** User Status Bar **********/

ul {
  padding: 0;
}

.statusBar {
  border-radius: 10px;
  color: #000;
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  height: 100px;
  justify-content: space-between;
  list-style: none;
  margin: 5px auto;
  padding: 8px;
}

.inBar {
  background-color: #d4fac7;
}

.outBar {
  background-color: #FFCBCB;
}

.vacationBar {
  background-color: #FFF4BC;
}

.sickBar {
  background-color: #D7F3FF;
}

.breakBar {
  background-color: #FFE3C2;
}

.wfhBar {
  background-color: #D9DDFF;
}

.row1,
.row2 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.contactInfo {
  align-self: flex-end;
}

.name,
.statusBox,
.timestamp,
.returnLabel {
  font-weight: bold;
  margin: 0;
}

.contactInfo {
  font-size: 18px;
  margin: 0;
  text-align: right;
}

.returnLabel {
  text-decoration: underline;
}

.returnInfo {
  font-size: 20px;
  margin: 0;
}

.name,
.statusBox {
  font-size: 20px;
}

.timestamp,
.returnLabel {
  font-size: 13px;
}

.returnBlock,
.statusBlock {
  display: flex;
  flex-direction: column;
}

.returnBlock {
  align-items: flex-start;
  justify-self: flex-start;
}

.statusBox {
  border: #000 solid 1px;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  height: 26px;
  margin: 3px auto;
  padding: 0;
  text-align: center;
  width: 100px;
}

.vacationBox,
.breakBox {
  color: #000;
}


.inBox {
  background-color: #3ADB3A;
}

.outBox {
  background-color: #DB3A3A;
}

.breakBox {
  background-color: #FFAB2D;
}

.sickBox {
  background-color: #3AABDB;
}

.vacationBox {
  background-color: #F9F253;
}

.wfhBox {
  background-color: #A32DFF;
}

/********** View Board Page **********/

.viewBoardTopRow {
  align-items: flex-end;
  display: flex;
}

.updateStatusButton {
  align-self: center;
  margin-bottom: 0;
}

.sortContainer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

#sortButton {
  cursor: pointer;
  height: 35px;
  width: 35px;
}

#sortDropdown {
  border: #fff solid 1px;
  display: block;
  float: right;
  font-family: 'PT Sans Narrow', sans-serif;
  width: fit-content;
}

.menuItem,
.sortDropdownLabel {
  border: #fff solid 1px;
  padding: 0 1rem 0 .5rem;
}

.sortDropdownLabel {
  font-weight: bold;
}

.menuItem {
  cursor: pointer;
  text-align: left;
}

.menuItem:hover {
  background-color: #777;
}



/********** Update Status Page **********/

.logoutButton {
  align-self: flex-end;
  background-color: #FFCBCB;
  height: 40px;
  width: 120px;
}

.updateStatusPage h1 {
  margin-bottom: 0;
}

.updateStatusForm {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 350px;
}

.updateStatusForm .field {
  margin: .5rem 0;
}

.dropdownMenuField {
  display: flex;
  justify-content: flex-end;
}

.dropdownLabel {
  line-height: 35px;
  margin-right: 5px;
}

.dropdownMenuWhole {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.openDropdownTop,
.closedDropdownTop {
  background-color: #fff;
  display: flex;
  height: 35px;
  padding: 3px;
  width: 200px;
}

.openDropdownTop {
  border-radius: 10px 10px 0 0;
}

.closedDropdownTop {
  border-radius: 10px;
}

#downArrow {
  color: #000;
  margin: 4px 4px 0 0;
}

.dropdownItem {
  background-color: #fff;
  border: #000 solid 1px;
  display: flex;
  height: 35px;
  margin: 0;
  text-align: center;
  width: 200px;
}

.dropdownItem:hover {
  background-color: #777;
}

.dropdownItem:last-of-type {
  border-radius: 0 0 10px 10px;
}

.openDropdownMenu {
  border: #000 solid 1px;
  border-radius: 0 0 10px 10px;
  display: block;
}

.hidden {
  display: none;
}

/********** 385px make inputs and labels block, redesign logo, reduce side margins **********/

/********** 450px + increase font size, add content, make single-row **********/